@page
@model SE1703_WebRazor.Pages.Menu.MemberMenuModel
@{
    ViewData["Title"] = "MemberMenu";
}

<h1>Menu</h1>

<div>
    <a asp-page="/Order" class="btn btn-primary">Order</a>

    <a asp-page="/Index" class="btn btn-primary">Logout</a>
</div>
